<div class="section_video" id="">
  <div class="red">
    <div class="w-embed-youtubevideo" style="width:100%;">
      <iframe
        class="youtube_section"
        src="https://www.youtube.com/embed/gErAmJR1UOk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="width:100%;"></div>
  </div>
</div>
<style>
  .section_video{
    width:90%;
  }
  .red{
    width:100%;
    margin:0 auto;
  }
</style>
{% schema %}
{
    "name": "Embed Youtube",
    "settings": [
        {
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Insert Youtube URL",
            "placeholder": "text"
        }
    ]   ,
  "presets": [
    {
      "name": "Hello"
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
